{{> head }} 

{{> navbar }} 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>M&uacute;sica</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusamus cumque laboriosam iure unde illo fugit, natus eius eaque delectus, error quos. Magni laborum beatae amet reprehenderit provident aspernatur ut.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-thumbnail" src="assets/img/music.png" alt="IMG de Música" srcset="">
            </div>
        </div>
    </div>

{{> footer }}